<div class="span3 offset1" id="sidebar">
<div class="spacer"></div>
<h3>The Silliest Daddies<br /></h3>
<ul class="photos">
  <% @top_photos.first(6).each do |photo| %>
    <li>
      <div id="photo">
      <%= link_to image_tag(photo.image.url(:side)), photo %></a>
	<div id="picSvotes<%= photo.id %>">
	<span class="badge badge-info" id="ssnum">Silly Score: <%= photo.votes.count %></span>
	</div>
  </div>
    </li>
  <% end %>
</ul>
<div id="purchase" style="text-align:center">
        <%= link_to image_tag("header_owl_logo.png"), "http://www.meegenius.com/", id: "MeeGenius" %>
	<div id="book"><%= link_to image_tag("cover (1).jpg"), "http://www.meegenius.com/book/5079/silly-daddy-and-the-pet-goat", id: "Pet Goat" %></div>
        <div id="book"><%= link_to image_tag("cover.jpg"), "http://www.meegenius.com/book/5875/silly-daddy-and-the-big-weed", id: "Big Weed" %></div>
</div> 
</div>
