<%- model_class = @photo.class -%>
<div class="row">
<div class="span8">
<h1><%=t '.title', :default => model_class.model_name.human %></h1>
      	<div id="photo">
      		<%= image_tag @photo.image.url %>
      	</div>
	<div id="piccap">
		<%= @photo.content %>
	</div>
	<div id="picvotes<%= @photo.id %>">
		<p>Silly Votes: <%= @photo.votes.count %></p>
	</div>
	<% if user_signed_in? %>   
 	<%= render 'static_pages/like_form', :photo => @photo %>
	<% if @photo.user_id == current_user.id %> 
 	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              photo_path(@photo),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
	<% end %>
	<% else %>
	<p>Sign in to vote this Daddy Silly</p>
   	<% end %>

</div>
<div class="span4">
<%= render 'static_pages/sidebar' %>
</div>
</div>
